# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
blinker==1.6.2
flask==2.3.2
flask-cors==4.0.0
flask-msearch==0.2.9.2
flask-sqlalchemy==3.0.5
jieba==0.42.1
jinja2==3.1.2
pillow==10.0.0
pymysql==1.1.0
redis==4.6.0
requests==2.31.0
whoosh==2.7.4